html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(to right, #ffffff, #f2f2f2);
}

a {
    /* font-size: 12px; */
    text-decoration: none;
    color: #d64541;
}

a:active {
    text-decoration: underline;
}

/* CARDS */
ul#target {
    /* Fixed width must be here */
    width: 616px;
    margin: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul#target li {
    display: inline-block;
    width: 85px;
    height: 85px;
    list-style: none;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1px 3px 1px 3px;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 1.5px;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 6px rgba(0, 0, 0, 0.06);
    transition: transform .45s, opacity .15s, box-shadow .6s, top .45s, left .45s;
    position: relative;
}

#radek-textsmaller {
    font-size: 17.5px;
    color: #d64541;
}

ul#target li:hover {
    border: 1px solid #cccccc;
}

/* DETAILS */
#details {
    opacity: 0;
    margin: 0px 0px 0px 10px;
    z-index: 1;
    vertical-align: top;
    transition: transform .45s, opacity 1s, top .45s, left .45s;
}

#details h2 {
    color: #34495e;
    margin: 8px 0px 8px 8px;
}

/* TIME */
#time {
    border: 1.2px solid #34495e;
    width: 100px;
    padding: 1px 0px 1px 11px;
    background: #ffffff;
}

#time #main {
    font-size: 30px;
}

#time #mili {
    font-size: 15px;
    vertical-align: top;
}

#time #main, #time #mili {
    display: inline-block;
    transition: transform .2s;
}

/* START BUTTON */
#stop, #shuffling {
    display: none;
}

#start, #stop, #shuffling {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: #ffffff;
    border: 1.2px solid #34495e;
    width: 60px;
    padding: 9.5px 18px 10px 18px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 1px;
    position: relative;
    left: 5px;
    bottom: 5px;
}

#start:hover {
    background: #34495e;
    color: #ffffff;
}

#start:focus, #stop:focus {
    outline: none;
}

/* START BUTTON & TIME */
#start, #time {
    color: #34495e;
    display: inline-block;
}

/* TARGET & DETAILS */
#target, #details {
    display: inline-block;
    margin: 5% 0% 0% 5% !important;
}

table#history {
    /* margin: 10px 0px 20px 0px; */
    opacity: 1;
    position: relative;
    bottom: 0px;
    z-index: 0;
    text-align: center;
    width: 100%;
    transition: opacity .7s, bottom .5s, margin .5s;
    cursor: default;
}

table#history th {
    opacity: .7;
    font-size: 11px;
}

table#history tr:not(:first-of-type) {
    font-size: 13px;
    opacity: .6;
    background: #ffffff;
}

table#history tr:not(:first-of-type):hover {
    opacity: 1;
    background: #f2f2f2;
}

#footer {
    font-size: 11px;
    text-align: center;
    line-height: 2px;
    position: relative;
    bottom: 0px;
    transition: bottom .5s;
}