ul#target {
    display: none;
}

ul#target li {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 85px 85px;
    width: 85px;
    height: 85px;
    margin: 3px;
    border: 2px solid #eeeeee;
    border-radius: 3px;
    cursor: pointer;
}